<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Live Patrol Web View</title>
  
    <link rel="shortcut icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  background: #fff;
  background: -webkit-linear-gradient(gray, #fff);
  background: -moz-linear-gradient(gray, #fff);
  background: linear-gradient(gray, #fff);

  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

    </style>

</head>

<body>
  <div class="body"></div>
    <div class="grad"></div>
    <div class = "container" style="margin-top:170px;">
      <h2>Live Patrol Web Client</h2>
    </div>
    <div style="margin-top:10px; background-color: #00264B; z-index: 9999">
      <div class ="container header">
        <div class="row" style="padding-top: 15px">
          <form method = "post" action="/login" id="login-form" >
          <div class="col-lg-2">
            <input type="text" id="username" class="form-control" placeholder="username" name="user[username]" required><br>
          </div>
          <div class="col-lg-2">
            <input type="password" id="password" class="form-control" placeholder="password" name="user[password]" required><br>
            <input name="user[device]" type='hidden' value= "web">
          </div>
          <div class="col-lg-2">
            <a href="#" onclick="submitForm(this)" ><img src = "/public/images/login-btn.png" style="width:20%" /></a>
          </div>
          <div class="col-lg-12">
            <small style="color:red!important; font-size:18px"><%= message %></small>
          </div>
          
          <div class="col-lg-6">
          </div>
        </div>
      </div>
    </div>
    <div class="container" style = "margin-top:20px; margin-bottom:200px">
      <div class="col-lg-7">
      </div>
      <div class="col-lg-3">
        <img class="pull-right" src = "/public/images/logo-1.png">
      </div>
      <div class="col-lg-2">
      
      </div>
      
    </div>
    <!-- <div style = "">
      
    </div> -->
  
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
      function submitForm(el){
        if(document.getElementById("username").value == "" || document.getElementById("password").value == ""){
          console.log("Username : " + document.getElementById("username").value);
          console.log("Password : " + document.getElementById("password").value);
          
          //alert("Username and Password cannot be empty");
        }else{

          document.getElementById("login-form").submit();
        }
        // if(document.getElementById("login-form")){

        // }
      }
    </script>
  
</body>
</html>
